.login-bg{
    /* background-image: url("./assets/bg.png"); */
    background-color: #0d6efd;
    background-size: cover;
    max-width: 100vw;
    opacity: 1;
}

.show-hover{
    cursor: pointer;
}

.custom-btn{
    width: 200px;
}
.imgage-thumbnail{
    height:200px;
    width:200px;
    object-fit: cover;
}
.userbutton{
    color: white;
    margin-right: 20px;
}